<div data-role="view" data-before-show="GDF.viewBeforeShow" id="newocurrence" data-layout="edit-item-list-swipe">
    <div data-change="change" data-role="scrollview" id="scroll-newocurrence">
        <div data-role='page' id='page-newoccurrence-local' class='customform-page dynamic'>
            <div class='km-listview-wrapper'>
                <ul data-role='listview' id='page-newoccurrence-local-list' class='km-widget km-listview km-list'></ul>
            </div>
        </div>
        <div data-role='page' id='page-newoccurrence-detail' class='customform-page dynamic'>
            <div class='km-listview-wrapper'>
                <ul data-role='listview' id='page-newoccurrence-detail-list' class='km-widget km-listview km-list'></ul>
            </div>
        </div>
    </div>
</div>