<div data-role="view" data-before-show="GDF.viewBeforeShow" id="ocurrences" data-layout="main-add-item-list">
    <ul id="list-ocurrences"> </ul>
</div>

<script id="list-ocurrences-template" type="text/x-kendo-template">
    <a class="item-ocurrences">
        <span class="list-subdescription" style="color: green">
            <input type="hidden" value="#: Uuid #" />
            <strong>#: GDF.strings.CreateDate #</strong>: #: CreateDate # <br />
            <strong>#: GDF.strings.Title #</strong>: #: Title # <br />
            <strong>#: GDF.strings.OccurenceTypeName #</strong>: #: OccurenceTypeName #<br />
            <strong>#: GDF.strings.OccurrenceSubtypeName #</strong>: #: OccurrenceSubtypeName #<br />
            # if(InstitutionName !== "") { #
                <strong>#: GDF.strings.InstitutionName #</strong>: #: InstitutionName # <br />
                <strong>#: GDF.strings.ResponsableUserName # </strong>: #: ResponsableUserName # <br />
            # } #
            <strong>#: GDF.strings.status # </strong>: #: GDF.util.getStatus(Status) #         
        </span>
    </a>
</script>