/*Kendo*/
.km-switch-container {
    background: rgb(161, 192, 87) !important; 
}

.km-switch-handle {
    color: rgb(161, 192, 87) !important; 
}

.km-navbar {
    background: rgb(81, 82, 86) !important;
    border-color: rgb(81, 82, 86) !important;
}

.km-view-title {
    color: white !important;
}

/*NumberPicker*/
#npbackbtn {
    color: rgb(161, 192, 87) !important; 
}

/*Botões*/
.custom-button {
    background: rgb(161, 192, 87) !important; 
    color: white !important;
}

.menu-btn span.km-icon {
    color: rgb(161, 192, 87) !important; 
}

.cancel-button {
    background: #900 !important; 
    color: white !important;
    padding-top: 1em;
}

/*Header*/
header .km-view-title {
    background: rgb(81, 82, 86) !important; 
    color: white !important; 
}

header .km-button {
    background: rgb(81, 82, 86) !important; 
    color: rgb(161, 192, 87) !important; 
    border-style: none !important; 
}
    
/*Menu*/
#main-menu li {
    background: rgb(81, 82, 86) !important; 
    border-color: #97a0a4 !important;
}

.main-menu-header {
    background: rgb(81, 82, 86) !important; 
    color: rgb(161, 192, 87) !important; 
    border: none !important;
}

#main-menu li a {
    background: rgb(81, 82, 86) !important; 
    color: white !important;
}

#main-menu .km-content {
    background: rgb(81, 82, 86) !important; 
}

/*Login*/
#login-btn-config {
    background: rgb(81, 82, 86) !important; 
    color: rgb(161, 192, 87) !important; 
    border-style: none !important;     
}

/*Modal*/
.modal-button {
    background: rgb(161, 192, 87) !important; 
    color: white !important;
    width: 80%;
}

.back-button[data-role=button] {
    background: rgb(81, 82, 86) !important; 
    color: rgb(161, 192, 87) !important; 
    border-style: none !important; 
}

.messagebox-button-bar.km-footer > div {
    background: rgb(161, 192, 87) !important;
}

.messagebox-button-bar.km-footer > div > span {
     color: white !important;
}

.ok.km-widget.km-button{
    background: rgb(81, 82, 86) !important; 
    color: rgb(161, 192, 87) !important; 
    border-style: none !important; 
}

/* Mapa */
.map-container {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.occurrence-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    margin-left: 20px;
    top: 70px;
    margin-top: 20px;
    font-size: 2em;
    z-index: 2000;
}

.menu-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    margin-left: 20px;
    top: 0px;
    margin-top: 20px;
    font-size: 2em;
    z-index: 2000;
}

.occurrence-button > span, .menu-button > span {
    margin-left: -10px !important;
}


.occurrence-button:active, .menu-button:active {
    font-size: 2.1em;
}

.occurrence-button:active > span, .menu-button:active > span {
    margin-left: -12px !important;
    color: #900;
}

#messagebox div[data-role="button"] {
    width: 60px;
    height: 60px;
    font-size: 1.4em;
}